#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 10%;
}

.mitabla {
    margin: 0 auto;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 16.91rem;
}

.mitabla .tabulator-col {
    border-right: 1px solid #ccc;
    padding: 8px;
}

.tabulator-footer {
    display: flex;
    justify-content: center;
}

.tabulator-page {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

label {
    margin-bottom: 5px;
    font-size: 18px;
}

#busqueda {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#resultado {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.container {
    height: 100%;
    width: 95%;
}

.prueba {
    background-color: #4CAF50;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

.prueba::-webkit-scrollbar {
    height: 10px;
    width: 0;
}


/*En la Grafica no funciona porque no es dinamica, entonces como no cambia segun el tamaño el programa no lo reconoce y se queda quieto el scrollbar inferior.
En cambio como la tabla si cambia el tamaño según yo le diga, este si que hace funcionar el scrollbar correctamente*/

.prueba::-webkit-scrollbar-thumb {
    background-color: #ff0000;
}

.pruebaTabla {
    height: 100%;
    /*El eje X está en auto para que aparezca en funcion de los cambios o no, a diferencia del eje Y que es el lateral que siempre va a esar oculto*/
    overflow-x: auto;
    overflow-y: scroll;
}


/*Con esta pseudoclase, defino la altura, el ancho etc (Documentacion en W3C) */

.pruebaTabla::-webkit-scrollbar {
    height: 10px;
    width: 0;
}


/*Y con esta, a parte de poder definir el color, lo que hace eso definir por defecto el tamaño de la barra de desplazamiento en funcion del tamaño de la web*/

.pruebaTabla::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.grid-stack-item {
    background-color: mediumpurple;
}

.grid-stack-item-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: move;
    overflow-y: hidden;
}

.grid-stack {
    background-color: red;
    width: 100%;
    height: 500px;
}

#borrar {
    width: 100%;
    height: 200px;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.date-input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}